{% extends "base.html" %}
{% load static %}

<!--App specifc elements for html head-->
{% block htmlhead %}
<!--App CSS doc-->
<link rel="stylesheet" href="{% static 'blog/css/blog_styles.css' %}">
{% endblock %}

<!--Top of the page, main header-->
{% block mainheader %}
<h1>Blog</h1>
{% endblock %}

<!--Page content-->
{% block page_content %}
<div class="col-md-8 offset-md-2" id="bs-content-override">
    <h1>Index</h1>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %} <!--End for category in post.categories.all-->
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %} <!--End for post in posts-->
</div>
{% endblock %} <!--End page_content block-->
