{% extends "base.html" %}
{% load static %}

{% block htmlhead %}
<!--Local CSS doc-->
<link rel="stylesheet" type="text/css" href="{% static 'projects_styles.css' %}">
<!--Didact Gothic font-->
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
{% endblock %}

{% block mainheader %}
<!--Top of the page, main header-->
<div class="main-header">
    <h1>Portfolio</h1>
    <!--Bubbles for animation-->
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</div>
{% endblock %}

{% block navbar %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg" id="bs-nav-override">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'project_index' %}">Portfolio</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block page_content %}
<div class="row" id="bs-content-override">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                    class = "btn btn-primary">
                     Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
