{% extends "base.html" %}
{% load static %}

<!--App specifc elements for html head-->
{% block htmlhead %}
<!--App CSS doc-->
<link rel="stylesheet" type="text/css" href="{% static 'projects/css/projects_styles.css' %}">
{% endblock %}

<!--Top of the page, main header-->
{% block mainheader %}
<h1>Portfolio</h1>
{% endblock %}

<!--Navbar-->

<!--Page content-->
{% block page_content %}
<div class="row" id="bs-content-override">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                    class = "btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
