{% extends "base.html" %}
{% load static %}

<!--App specifc elements for html head-->
{% block htmlhead %}
<!--App CSS doc-->
<link type="text/css" href="{% static 'projects/css/projects_styles.css' %}">
{% endblock %}

<!--Top of the page, main header-->
{% block mainheader %}
<h1>Portfolio</h1>
{% endblock %}

<!--Page content-->
{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img class="mb-4" src="{% static project.image %}" alt="" width="100%">        
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <P>{{ project.description }}</P>
        <br>
        <h5>Technology used:</h5>
        <P>{{ project.technology }}</P>
        <br>
        <h5>GitHub Repository:</h5>
        <a href="{{ project.gh_url }}">{{ project.gh_url }}</a>
    </div>
</div>
{% endblock %}
