{% extends "base.html" %}
{% load static %}

<!--App specifc elements for html head-->
{% block htmlhead %}
<!--App CSS doc-->
<link rel="stylesheet" type="text/css" href="{% static 'home_contact/css/home_contactstyles.css' %}">
{% endblock %}

<!--Top of the page, main header-->
{% block mainheader %}
<h1>Johnolson.dev</h1>
{% endblock %}

<!--Page content-->
{% block page_content %}
<div class="row">
    <div class="col" id="bs-content-override">
        {% for ap in aps %}
            <h1>{{ ap.title }}</h1>
            <p id="about-me">{{ ap.content }}</p>
        {% endfor %}
        <h1>Contact</h1>
        <div class="container" id="django-contact-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
