{% extends "base.html" %}
{% load static %}

<!--Local elements for html head-->
{% block htmlhead %}
<!--Local CSS doc-->
<link rel="stylesheet" type="text/css" href="{% static 'home_contact/css/home_contactstyles.css' %}">
<!--Didact Gothic font-->
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
{% endblock %}

<!--Top of the page, main header-->
{% block mainheader %}
<div class="main-header">
    <h1>Johnolson.dev</h1>
    <!--Bubbles for animation-->
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</div>
{% endblock %}

<!--Page content-->
{% block page_content %}
<div class="row">
    <div class="col" id="bs-content-override">
        {% for ap in aps %}
            <h1>{{ ap.title }}</h1>
            <p>{{ ap.content }}</p>
        {% endfor %}

        <!--Big empty space-->
        <div class="vr vr-blurry" style="height: 100px;"></div>
        
        <h1>Contact</h1>

        <!--Big empty space-->
        <div class="vr vr-blurry" style="height: 100px;"></div>

        <p>Thank you for your message!</p>
{% endblock %}
