{% extends "base.html" %}
{% load static %}

<!--App specifc elements for html head-->
{% block htmlhead %}
<!--App CSS doc-->
<link rel="stylesheet" type="text/css" href="{% static 'home_contact/css/home_contactstyles.css' %}">
{% endblock %}

<!--Top of the page, main header-->
{% block mainheader %}
<h1>Johnolson.dev</h1>
{% endblock %}

<!--Page content-->
{% block page_content %}
<div class="row">
    <div class="col" id="bs-content-override">
        {% for ap in aps %}
            <h1>{{ ap.title }}</h1>
            <p>{{ ap.content }}</p>
        {% endfor %}

        <!--Big empty space-->
        <div class="vr vr-blurry" style="height: 100px;"></div>
        
        <h1>Contact</h1>

        <!--Big empty space-->
        <div class="vr vr-blurry" style="height: 100px;"></div>

        <p>Thank you for your message!</p>
{% endblock %}
