{% extends 'base.html' %}
{% load static %}

{% block htmlhead %}
<!--App CSS doc-->
<link rel="stylesheet" type="text/css" href="{% static 'projects/css/gameasset_styles.css' %}">
{% endblock %}

{% block mainheader %}
<h1>Game Assets</h1>
{% endblock %}

{% block page_content %}
<div class="row" id="bs-content-override">
    {% for sprite in sprites %}
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">{{ sprite.name }}</h5>
                <img class="card-img-top" src="{% static sprite.image %}">                                    
            </div>
        </div>
        {% endfor %}
    </div>
    {% for animation in animations %}
        <div class="col-md-4">
            <div class="card mb-2">
                <h5 class="card-title">{{ animation.name }}</h5>
                <img class="card-img-top" src="{% static animation.gif %}">                                    
            </div>
        </div>
        {% endfor %}
    {% for soundtrack in soundtracks %}
    <div class="col-md-4">
        <div class="card mb-2">
            <h5 class="card-title">{{ soundtrack.name }}</h5>
            <audio controls>
                <source src="{% static soundtrack.mp3 %}" type="audio/mpeg">
            </audio>                               
        </div>
    </div>
    {% endfor %}
{% endblock %}
