/* Page content */
#bs-content-override {
    width: 33%;
    text-align: center;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#bs-content-override h1 {
    font-size: 32px;
    color: rgb(250, 245, 255);
    background-color: #141949;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 50px; margin-bottom: 20px;
    border-radius: 50px 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#bs-content-override p {
    overflow-wrap: break-word;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

img {
    border-radius: 50%;
    size: 25%;
}

#about-me {
    background-color: white;
    border-radius: 25px 25px;
    box-shadow: 2px 2px 8px;
    border-style: solid;
    border-color:#141949;
    border-width: 5px;
}

/* Contact form */
#django-contact-form{
    color: rgb(255, 255,255);
    background-color:#141949;
    padding: 5px;
    box-shadow: 3px 3px 5px;
    border-radius: 50px 50px;
}
